<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>
<h2>일기 리스트</h2>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성일</th>
        <th>작업</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="diary : ${diaries}">
        <td th:text="${diary.emotionTag}">감정태그</td>
        <td th:text="${#dates.format(diary.createdDate, 'yyyy-MM-dd HH:mm')}">작성일</td>
        <td>
            <a th:href="@{/admin/diaries/{id}(id=${diary.id})}">내용 보기</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
<footer th:replace="common/footer :: footer"></footer>
</html>
