<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>
<h1>알림 리스트</h1>
<table>
    <thead>
    <tr>
        <th>메시지</th>
        <th>읽음 여부</th>
        <th>알림 생성 시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notification : ${notifications}">
        <td th:text="${notification.message}"></td>
        <td th:text="${notification.isRead ? '읽음' : '안 읽음'}"></td>
        <td th:text="${notification.createdDate}"></td>
    </tr>
    </tbody>
</table>
</body>
<footer th:replace="common/footer :: footer"></footer>
</html>
